/* ------------------------- */
/* Variables creditos .app label*/
:root{
	--color-blanco: #ffffff;
	--color-negro: #000000;
}
/* ------------------------- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}


*::-moz-selection {
	background: var(--color-negro);
	color: var(--color-blanco);
}

body {
	background: rgb(235, 235, 77);
	background: radial-gradient(circle, rgba(235, 235, 77,1) 0%, rgba(242, 10, 141,1) 100%);
	color: rgb(235, 235, 77);
  	background-attachment: fixed;
}

a {
	color:  var(--color-blanco);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.contenedor {
	max-width:500px;
	width: 90%;
	margin: 40px auto;
}

/* ------------------------- */
/* Estilos de Filas y Columnas */
/* ------------------------- */
.app .fila {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app .col {
	width: 50%;
}

/* ------------------------- */
/* Estilos generales de inputs y botones */
/* ------------------------- */
.app label {
	line-height: 40px;
	color: #fff;
}

.app input {
	text-align: center;
	border: none;
}

.app .btn {
	width: 100%;
	background: rgba(242, 10, 141);
	color:  var(--color-blanco);
	display: inline-block;
	height: 40px;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .btn:hover {
	background: rgba(242, 10, 141, 0.6);
}

.app .btn.false{
	background: transparent;
	color:  var(--color-blanco);
	border: solid 1px #fff;
}

/* ------------------------- */
/* Fila: Numero de Caracteres */
/* ------------------------- */
.app .numero-caracteres .botones div {
	width: 100%;
}

.app .numero-caracteres .botones div:nth-child(1) button{
	border-radius: 4px 0 0 4px;
}
.app .numero-caracteres input {
	height: 40px;
	width: 100%;
	cursor: default;
	background: transparent;
	border-top: 1px solid rgba(242, 10, 141);
	border-bottom: 1px solid rgba(242, 10, 141);
	color:  var(--color-blanco);
}
.app .numero-caracteres .botones div:nth-child(3) button{
	border-radius: 0 4px 4px 0;
}

.app .numero-caracteres .botones{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	
/* ------------------------- */
/* Fila: Generar Contraseña */
/* ------------------------- */
.app .fila.generar {
	margin-bottom: 10px;
}

.app .fila.generar .col:nth-child(1){
	width: 30%;
}

.app .fila.generar .col:nth-child(2) {
	width: 65%;
}

.app .fila.generar .btn.btn-generar {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 0;
	line-height: 40px;
	position: relative;
	z-index: 1;
}

.app .fila.generar .btn.btn-generar i {
	margin-left: 20px;
	position: relative;
	top:-1px;
	font-size: 14px;
}

.app .fila.generar .btn.btn-generar:after {
	content: "";
	display: inline-block;
	background: rgba(242, 10, 141);
	width: 14px;
	height: 14px;
	position: absolute;
	top:13px;
	right:-7px;
	transform: rotate(45deg);
	z-index: 9;
	transition: all .3s ease;
}

.app .fila.generar .col:nth-child(1):hover .btn-generar:after {
	background: rgba(242, 10, 141, 0.6);
}

.app .fila.generar .input-password {
	width: 100%;
	background: none;
	border-radius: 4px;
	border:1px solid #fff;
	color:  var(--color-blanco);
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .fila.generar .input-password:hover {
	border:1px solid rgba(255,255,255,.25);
}

.app .fila.generar input::selection {
	background: rgba(242, 10, 141, 0.6);
}

.app .fila.generar input::-moz-selection {
	background: rgb(242, 10, 141);
}

/* ------------------------- */
/* Fila: Alerta */
/* ------------------------- */
.app .fila.alerta {
	justify-content: flex-end;
}

.app .fila.alerta .col {
	width: 65%;
}
.app .fila.alerta .alerta-copiado {
	text-align: center;
	color: rgba(255,255,255,0);
	transition: all .3s ease;
}

.app .fila.alerta .alerta-copiado.active {
	color: rgba(255,255,255,1);
}

.app .fila.alerta .alerta-copiado p, 
.app .fila.alerta .alerta-copiado i {
	font-size: 12px;
}

/* ------------------------- */
/* Media Queries */
/* ------------------------- */
@media screen and (max-width: 500px){
	.logo img {
		width: 70%;
	}

	.app .fila {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.app .fila .col {
		width: 100%;
		margin-bottom: 20px;
	}

	.app .fila.generar {
		border-top:1px solid rgba(255,255,255,.25);
		padding-top:40px;
	}

	.app .fila.generar .col:nth-child(1), 
	.app .fila.generar .col:nth-child(2) {
		width: 100%;
	}

	.app .fila.generar .btn.btn-generar:after {
		top: auto;
		left: 50%;
		right: 50%;
		bottom: -7px;
	}
}